.jumbotron {
    background-image: url(../../gfx/drama.jpg);
}
.footer {
    background-image: url(../../gfx/drama.jpg);
}

div.dramainfo note {
    display:block;
    font-size: large;
}

orgName {
        display:block;
    font-size: small;
}

note bibl {
        display:block;
    font-size: small;
}

td > author {
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
  display: block;
}
