.jumbotron {
    background-image: url(../../gfx/drama.jpg);
}
.footer {
    background-image: url(../../gfx/drama.jpg);
}

div.dramainfo note {
    display:block;
    font-size: large;
}

orgName {
        display:block;
    font-size: small;
}

note bibl {
        display:block;
    font-size: small;
}

td > span.notarow {
	display: block;
	}

td > author {
  font-size: 1.2em;
  color: #c7254e;
  background-color: #F2FAF8;
  border-radius: 4px;
  display: block;
}



